body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100vw; */
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.moving-region {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 100vh;
    /*background-color: white; */ /* Color of the moving region */
    background-image: url("invert.jpg");
    /* background-size: 100vw, cover;
    background-repeat:repeat-x; */
    /* background-position: right 100px; */
    z-index: 1;
}

.value-display {
    color: red;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
}