body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#FullscreenImage {
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
}

#movingRegion {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    /* opacity: 0.5; */
    height: 100vh;
    background-image: url("silhouettes/invert.jpg");
    z-index: 1;
    background-size: cover;
}

.value-display {
    color: red;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
}

#canvas { 
    position:fixed;
}