body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas {
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
}

#movingRegion {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    /* opacity: 0.5; */
    height: 100vh;
    background-image: url("silhouettes/invert.jpg");
    z-index: 1;
    background-size: cover;
}

.value-display {
    color: red;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
}

#canvas {
    position: fixed;
}

#navigation {
    position: fixed;
    display: flex;
    left: 10px;
    bottom: 10px;
}

.navigationIcon {
    color: white;
    text-shadow:
        1px 1px 2px black,
        0 0 1em black,
        0 0 0.2em black;
    border: 1px solid white;
    box-shadow: 1px 1px 1px black;
    padding: 4px 8px 4px 8px;
    margin: 4px;
}

.navigationIcon.active {
    border-width: 3px;
}

.info {
    color: white;
    text-shadow:
        1px 1px 2px black,
        0 0 1em black,
        0 0 0.2em black;
    position: relative;
    top: 10px;
}